.switch__box {
	display: inline-block;
	position: relative;
	border-radius: 99rem;
	background-color: var(--color-control-bg-system);
	border: 2px solid transparent;
	margin-right: var(--space-xs);

	&::before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		right: 0;
		border-radius: 99rem;
		background-color: var(--color-control-bg-default-affect);
		transition: transform .15s, background-color .15s, border .15s;
	}

	&::after {
		content: '';
		position: absolute;
		box-sizing: border-box;
		z-index: 1;
		background-color: var(--color-control-bg-affect);
		border-bottom: 2px solid var(--color-control-bg-default-affect);
		border-left: 2px solid var(--color-control-bg-default-affect);
		opacity: 0;
		transform-origin: 0 0;
		transform: rotate(-50deg) scale(0, 1);
		transition: opacity .15s, transform .15s;
	}
}
