.input {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	background: var(--color-control-input-default);
	border: 2px solid var(--color-control-bg-border-default);
	border-radius: var(--control-radius);
	font-family: var(--font-sans);
	font-weight: normal;
	color: var(--color-control-typo-primary);

	&::placeholder {
		color: var(--color-control-typo-ghost);
	}

	&:focus {
		outline: none;
		border-color: var(--color-control-bg-border-focus);
	}
}
