@font-face {
  font-family: 'nitti';
  font-style: normal;
  font-weight: 600;
  src: local("Nitti Bold"), local("Nitti-Bold"), url("nitti/nitti-bold.woff2") format("woff2"); }

@font-face {
  font-family: 'nitti';
  font-style: normal;
  font-weight: 400;
  src: local("Nitti Normal"), local("Nitti-Normal"), url("nitti/nitti-normal.woff2") format("woff2"); }

@font-face {
  font-family: 'nitti';
  font-style: normal;
  font-weight: 300;
  src: local("Nitti Light"), local("Nitti-Light"), url("nitti/nitti-light.woff2") format("woff2"); }


/* $font-sans: " ", Helvetica, Arial, sans-serif;
$font-serif: " ", Georgia, serif; */
$font-mono: "nitti", monospace;

.theme_font_nitti {
  /* --font-sans: " ", Helvetica, Arial, sans-serif;
  --font-serif: " ", Georgia, serif; */
  --font-mono: "nitti", monospace;
}

.theme_font_nitti {
  font-family: var(--font-mono);
}
