.animation-item {
	margin-bottom: calc(2 * var(--space-xl));

	&__view {
		position: relative;
		width: 310px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: var(--color-bg-ghost);
		margin-bottom: var(--space-l);
		overflow: hidden;
	}

	&__paranja {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: var(--color-tone);
	}

	&__modal {
		position: absolute;
		top: 25%;
		left: 25%;
		height: 50%;
		width: 50%;
		background: var(--color-default);
		border-radius: 4px;
		box-shadow: 0 8px 16px rgba(0, 0, 0, .12);
	}
}