.switch_size_m {
	height: var(--space-3xl);

	.switch__box {
		width: var(--space-3xl);
		height: var(--space-l);

		&::before {
			height: var(--space-l);
			width: var(--space-l);
			top: 0;
			transform: translateX( calc(-1 * var(--space-3xl) + var(--space-l) ) );
			box-shadow:
				/* inset 0 0 0 1px var(--color-control-bg-border-default), */
				0 0 2px rgba(0,0,0,.25),
				0 2px 4px rgba(0,0,0,.18);
		}

		&::after {
			width: calc(var(--control-checkbox-size-l) * .6);
			height: calc(var(--control-checkbox-size-l) * .35);
			top: 0;
			left: 0;
		}
	}
}
