.footer {
	padding: var(--space-3xl) 0;
	&__item {
		a {
			opacity: 0.6;
			text-decoration: none;
			display: block;
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	.footer {
		&__logo {
			margin-bottom: var(--space-3xl);
		}
		&__unit {
			margin-bottom: var(--space-xl);
		}
	}
}
