.footer {
	padding: var(--space-xxxl) 0;
	&__logo {
		margin-bottom: var(--space-xxxl);
	}
}

@media screen and (max-width: $screen-xs-max) {
	.footer {
		&__menu-item {
			margin-bottom: var(--space-xl);
		}
	}
}
