.demo__content {
	display: block;
	padding: 132px 0px calc( 2 * $space-xxxxxl);
	margin: auto;
	width: 1140px;
	flex: 1 0 auto;

	&_size {
		&_l {
			width: 1140px;
		}
		&_m {
			width: 960px;
		}
		&_s {
			width: 740px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.demo__content { display: none; }
}