.button_view_secondary {
	background-color: var(--color-control-bg-default);
	color: var(--color-control-typo-primary);
	transition: background-color .15s;

	&:hover {
		background-color: var(--color-control-bg-default-hover);
	}
	&:active {
		background-color: var(--color-control-bg-default-press);
	}
}
