 @import "../../node_modules/whitepaper-bem/theme/_breakpoint/theme_breakpoint_default.post.css";

.events {
	padding: var(--space-xxl);
	background-color: var(--color-bg-default);
}

@media screen and (max-width: $screen-xs-max) {
	.events {
		height: 500px;
	}
}