.step-badge {
	position: relative;
	display: inline-block;
	max-width: 100%;
	padding:  var(--space-m) var(--space-xxl);
	font-size: var(--size-typo-xl);
	border-radius: 99em;
	margin-right: 14px;
	&:last-child {
		&:after {
			content: none;
		}
	}
	&_view {
		&_wp {
			background-color: var(--color-bg-default);
			color: var(--color-typo-primary);
			&:after {
				content: '';
				background: url('step-badge-wp.svg');
			}
		}
		&_other {
			background-color: var(--color-bg-ghost);
			color: var(--color-typo-secondary);
			&:after {
				content: '';
				background: url('step-badge-other.svg') no-repeat;
			}
		}
		/* &_scratch {
			background-color: var(--color-bg-stripe);
			color: var(--color-typo-secondary);
			&:after {
				content: '';
				background: url('step-badge-scratch.svg') no-repeat;
			}
		}
		&_prod {
			background-color: var(--color-bg-ghost);
			color: var(--color-typo-secondary);
			&:after {
				content: '';
				background: url('step-badge-prod.svg') no-repeat;
			}
		} */
	}
	&:after {
		position: absolute;
		width: 32px;
		height: 42px;
		margin-left: 23px;
		margin-top: -9px;
		z-index: 1;
	}
}


@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	.step-badge {
		display: block;
		margin-bottom: var(--space-s);
		&:last-child {
			margin-bottom: 0px;
		}
		&:after {
			display: none;
		}
	}
}

@media screen and (min-width: $screen-s) and (max-width: $screen-s-max) {
	.step-badge {
		display: block;
		margin-bottom: var(--space-s);
		&:last-child {
			margin-bottom: 0px;
		}
		&:after {
			display: none;
		}
	}
}

@media screen and (min-width: $screen-m) and (max-width: $screen-m-max) {
	.step-badge {
		display: block;
		&:after {
			display: none;
		}
	}
}
