.offer {
	min-width: 296px;
	max-width: 350px;
	min-height: 456px;
  overflow: hidden;
  &__goods-header {
    overflow: hidden;
    position: relative;
    height: 280px;
  }
  &__goods-background {
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: -110px;
    left: 50%;
    top: var(--space-xl);
    border-radius: 50%;
    background: var(--color-bg-tone);
  }
  &__goods-price {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    font-size: 150px;
    line-height: 195px;
    z-index: 2;
    -webkit-text-stroke: 1px #FD2443;
    -webkit-text-fill-color: transparent;
  }
  &__goods-item {
    margin-top: 106px;
  }
  &__goods-image-wrapper {
    width: 264px;
    height: 150px;
    margin: 0 auto;
  }
}
