.button_view_primary {
	background-color: var(--color-control-bg-action);
	color: var(--color-control-typo-affect);
	transition: background-color .15s;

	&:hover {
		background-color: var(--color-control-bg-action-hover);
	}
	&:active {
		background-color: var(--color-control-bg-action-press);
	}
}
