.switch__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;

	&:checked {
		+ .switch__box {
			background-color: var(--color-control-bg-action);
			border-color: var(--color-control-bg-action);

			&::before {
				transform: translateX(0);
			}
		}
	}
}
