.informer {
  min-height: 456px;
  box-sizing: border-box;
  &__icon-wrapper {
	  width: 24px;
	  height: 24px;
    margin: var(--space-xxxl) auto var(--space-s);
    padding: var(--space-xl);
    border-radius: 50%;
	  background: var(--color-bg-default);
  }
  &__info {
    padding: var(--space-m);
    border: 1px solid var(--color-bg-border);
    border-radius: 8px;
  }
  &__account {
    width: 100%;
  }
}
