.informer {
    &__icon-wrapper {
        width: 24px;
        height: 24px;
        margin: var(--space-3xl) auto var(--space-s);
        padding: var(--space-xl);
        border-radius: 50%;
        background: var(--color-typo-primary);
    }
    &__info {
        padding: var(--space-m);
        background: var(--color-bg-ghost);
        border-radius: 8px;
    }
    &__account {
        width: 100%;
    }
}
