.donate {
	min-width: 296px;
	max-width: 350px;
	min-height: 456px;
  overflow: hidden;
  &__control {
  }
  &__person-image {
    height: 114px;
  }
  &__person-avatar {
    margin-left: var(--space-l);
    margin-top: 82px;
    border-radius: 50%;
  }
  &__project-image {
    height: 152px;
  }
  &__project-progress-bar {
    background-color: var(--color-bg-selection);
    width: 100%;
    height: 7px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      margin-top: 5px;
      background-color: var(--color-bg-brand);
    }
  }
  &__amount-wrapper {
    display: inline-block;
  }
  &__days-wrapper {
    display: inline-block;
  }
  &__event-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__event-image-wrapper {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 269px;
      background-image: linear-gradient(0deg, #fff 0%, rgba(105,205,149,0.5) 100%), linear-gradient(0deg, #fff 10%, rgba(0,0,0,0.5) 100%);
    }
  }
  &__event-avatar {
    width: 88px;
    height: 88px;
    border-radius: 0%;
    transform: rotate(45deg);
    overflow: hidden;
    margin: calc(18px + var(--space-xxl)) auto calc(18px + var(--space-l));
    box-shadow: -2px 2px 14px 0 rgba(25,28,26,0.31);
    &::after {
      content: '';
      position: absolute;
      top: -20px;
      left: -20px;
      width: 130px;
      height: 130px;
      transform: rotate(-45deg);
      background-size: 100%;
      background-image: url('event-avatar.png');
      background-repeat: no-repeat;
    }
  }
  &__event-avatar-group {
    display: inline-flex;
    align-items: center;
    margin-left: var(--space-s);
  }
  &__event-mini-avatar {
    background-size: 100%;
    margin-left: calc(-1 * var(--space-s));
  }
}