.theme_color_whitepaper-default {
	--color-base-base: #000; /* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
	--color-base-essential: #fff; /* hsl(0, 0%, 100%) Базовый цвет поверхностей */
	--color-base-project: #0056b3; /* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */
	--color-base-phantom: #000; /* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
	--color-base-path: #0070f0; /* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */
}
