.button_with-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;

	&.button_size_l {
		width: var(--control-button-size-l);
		height: var(--control-button-size-l);
	}
	&.button_size_m {
		width: var(--control-button-size-m);
		height: var(--control-button-size-m);
	}
	&.button_size_s {
		width: var(--control-button-size-s);
		height: var(--control-button-size-s);
	}

	& svg {
		display: block;
	}
}
