.menu {
	box-sizing: border-box;
	width: 100%;
	z-index: 100;
	background-color: var(--color-bg-default);
	margin-bottom: var(--space-6xl);
	&__logo {
		display: block;
		width: 180px;
		height: 52px;
		background-size: 100%;
		background-image: url('logo.svg');
		background-repeat: no-repeat;
	}
	&__item {
		position: relative;
		padding-left: var(--space-3xl);
		text-decoration: none;
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 80px;
	}
	&__nav {
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
	}
	&__paper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__download {
		padding-left: var(--space-3xl);
		margin-right: 14px;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.menu {
		&__nav {
			flex-wrap: wrap;
		}
		&__paper {
			padding-top: var(--space-xl);
			margin-bottom: var(--space-xl);
		}
		&__inner {
			display: block;
		}
		&__item {
			box-sizing: border-box;
			padding: var(--space-s) 0px;
			width: 50%;
		}
	}
}

@media screen and (min-width: $screen-s) and (max-width: $screen-s-max) {
	.menu {
		&__paper {
			padding-top: var(--space-l);
			margin-bottom: var(--space-l);
		}
		&__inner {
			display: block;
		}
		&__item {
			position: relative;
			padding-left: 0px;
			padding-right: var(--space-3xl);
		}
	}
}

@media screen and (min-width: $screen-m) and (max-width: $screen-m-max) {
	.menu {
		&__paper {
			padding-top: var(--space-l);
			margin-bottom: var(--space-l);
		}
		&__inner {
			display: block;
		}
		&__item {
			position: relative;
			padding-left: 0px;
			padding-right: var(--space-3xl);
		}
	}
}
