@media screen and (max-width: 1199px) {
	.demo__plug {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		position: absolute !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
		background-color: var(--color-bg-default);
		z-index: 9999;

		&-card {
			display: block;
			height: 100vh;
			width: 100vw;
			max-width: 320px;
			max-height: 568px;
			background-color: var(--color-bg-default);
		}

		&-illustration {
			display: block;
			background-image: linear-gradient(to bottom, #992816 0%, #BC4937 100%);
			border-radius: 50%;
			overflow: hidden;
			box-shadow:
				0 44px 80px -20px rgba(153, 40, 22, .4),
				0 7px 16px rgba(153, 40, 22, .2);
			margin: 0 -8px;
		}

		&-button { position: relative; left: -2px;}

		&-soclink {
			position: relative;
			width: 24px;
			height: 24px;
			padding: 10px;
			text-decoration: none;
			transition: opacity .15s;

			&::before {
				content: '';
				position: absolute;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&_icon_twitter::before {
				background-image: url('../../../assets/i/twitter.svg');
			}

			&_icon_telegram::before {
				background-image: url('../../../assets/i/telegram.svg');
			}

			&:hover { opacity: .8;}
		}
	}
}

@media screen and (min-width: 375px) {
	.demo__plug {
		background: #F5F5F5;
		/* background: #2E3033; */

		&-card {
			height: 85vh;
			width: 85vw;
			border-radius: 12px;
			box-shadow: 0 30px 40px -20px rgba(0, 0, 0, .4);
		}
	}
}

@media screen and (min-width: 1200px) {
	.demo__plug { display: none; }
}
