.checkbox {
	position: relative;
	cursor: pointer;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	font-family: var(--font-sans);

	&:hover {
		.checkbox__box {
			border-color: var(--color-control-bg-border-default-hover);
		}
	}
}
