.color {
	width: var(--space-2xl);
	height: var(--space-2xl);
	border-radius: 50%;
	margin-top: 1px;
	&_view {
		&_base {
			background-color: var(--color-base-base);
		}
		&_essential {
			background-color: var(--color-base-essential);
			box-shadow: 0 0 0 1px var(--color-bg-border);
		}
		&_project {
			background-color: var(--color-base-project);
		}
		&_phantom {
			background-color: var(--color-base-phantom);
		}
		&_path {
			background-color: var(--color-base-path);
		}
		&_alert {
			background-color: var(--color-bg-alert);
		}
		&_success {
			background-color: var(--color-bg-success);
		}
		&_warning {
			background-color: var(--color-bg-warning);
		}
		&_normal {
			background-color: var(--color-bg-normal);
		}
		&_system {
			background-color: var(--color-bg-system);
		}
		&_brand { background-color:var(--color-bg-brand); }
		&_border { background-color: var(--color-bg-border); }
		&_stripe { background-color: var(--color-bg-stripe); }
		&_ghost { background-color: var(--color-bg-ghost); }
		&_default { background-color: var(--color-bg-default); box-shadow: 0 0 0 1px var(--color-bg-border);}
		&_tone { background-color: var(--color-bg-tone); }
		&_soft { background-color: var(--color-bg-soft); box-shadow: 0 0 0 1px var(--color-bg-border);}
		&_typo-brand { background-color: var(--color-typo-brand); }
		&_typo-primary { background-color: var(--color-typo-primary); }
		&_typo-secondary { background-color: var(--color-typo-secondary); }
		&_typo-ghost { background-color: var(--color-typo-ghost); }
		&_typo-disable { background-color: var(--color-typo-disable); }
		&_typo-success { background-color: var(--color-typo-success); }
		&_typo-warning { background-color: var(--color-typo-warning); }
		&_typo-alert { background-color: var(--color-typo-alert); }
		&_link { background-color: var(--color-bg-link); }
		&_link-external { background-color: var(--color-link-external); }
		&_link-minor { background-color: var(--color-link-minor); }
		&_link-hover { background-color: var(--color-link-hover); }
	}
}
