.feed {
	min-height: 456px;
	box-sizing: border-box;
	background-color: var(--color-bg-default);
	&__header {
		&_align {
			&_center {
				align-items: center;
			}
			&_baseline {
				align-items: baseline;
			}
		}
	}
}
